
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


node_modules/
jspm_packages/
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
*.grunt
.lock-wscript
build/Release
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

venv/
ENV/
env.bak/
venv.bak/

.env
.env.*
!.env.example
*.pem
*.key
*.cert
*.pfx
secrets.json
config.json
credentials.json

.vscode/
.idea/
*.swp
*.swo

*.sqlite3
*.db
*.log
logs
*.log.*

.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.bclicense
*.flf
TestResults.xml
